<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="form-container">
      <h2 class="form-login-heading">Login</h2>
      <form method="post" class="form-login">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
       <br>
      <p><strong>-- OR --</strong></p>
      <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
      <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
  </div>
{% endblock %}