{% load static %}

{% block content %}

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'logs/style.css' %}" />
</head>

{% if user.is_authenticated %}
  Hi {{ user.username }}! <a href="{% url 'logout' %}">Logout</a><br><br>

	<form action="{% url 'logs:index' %}" method="get">
		{% csrf_token %}
	    <label for="">Choose a date: </label>
	    <input type="text" id="datepicker" name="filter"><br>
	    <label for="">View logs by: </label>
	    <select name="view">
	    	<option value="day">Selected day</option>
	    	<option value="week">Week</option>
	    	<option value="month">Month</option>n>
		</select>
	    <input type="submit" value="Filter" />
	</form>
	<script>
	$( "#datepicker" ).datepicker({
	    dateFormat: "yy-mm-dd",
	    changeMonth: true,
	    numberOfMonths: 1,
	});
	$( "#datepicker" ).datepicker("setDate", 'today');
	</script>
	Total hours:
		{% if logs_list %}
		    <table>
		    <tr>
		    	<th>Project</th>
		    	<th>Hours</th>
			</tr>
		    {% for log in logs_list %}
		    
		    <tr>
		    	<td></td>
		        {% if log.date_logged > log.log_date %}
			        	<td><a href="{% url 'logs:detail' log.id%}" class="late-logs">{{ log.duration }} hr{{log.duration|pluralize}}</a></td>
			        </tr>
		        {% else %}
			        	<td><a href="{% url 'logs:detail' log.id %}">{{ log.duration }} hr{{log.duration|pluralize}}</a></td>
			        
		        {% endif %}
		    </tr>
		    {% endfor %}
		    <tr>
		    	<td>Total</td>
		    	<td></td>
		    </tr>
		    </table>
		{% else %}
		    <p>No logs for this day.</p>
		{% endif %}

	<a href="{% url 'logs:log_new' %}">Log</a>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}

