{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if user.is_authenticated %}
        <p> Hi {{ user.username }}! <a href="{% url 'logout' %}">Logout</a> </p>
        <div><a href="{% url 'logs:index' %}">See logs</a><div><br>
        <div><a href="{% url 'logs:new' %}">Log</a><div><br>

    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    {% endif %}
</div>
{% endblock %}

